/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 20px;
    flex: 1;
}

header img {
    width: 99.1vw;
    padding: auto;
    margin: auto;
    
}

/* Section Styles */
section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Flexbox Container for Hoe, Wat, Waar */
.flex-container {
    display: flex;
    align-items: stretch;
    gap: 20px; 
}

.flex-container section {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #f9f9f9; 
    padding: 10px; 
}

.flex-container section img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; 
}

.flex-container section h2 {
    margin-top: 20px;
}

.flex-container section p {
    flex-grow: 1;
}

header {
    background-color: #a1c33e;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-logo {
    width: auto;
    height: 100px;
    object-fit: cover;
    margin-left: 20px; 
}

.nav {
    display: flex;
    margin-left: auto;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin-left: 20px;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
}

/* Footer Styles */
footer {
    background-color: #a1c33e;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -4px 2px -2px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Adds space between the images */
}

footer img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    border-radius: 8px; /* Optional: Adds rounded corners to the images */
}